.hamburger-menu {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 20;
    /* Ensure the container is on top */
}

.menu-icon {
    cursor: pointer;
    font-size: 40px;
    position: relative;
    z-index: 30;
    /* Ensure the icon is on top of the menu */
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 10;
    transition: 0.3s ease-in-out;
}

.overlay.open {
    background: rgba(0, 0, 0, 0.5);
    transition: right 0.3s ease-in-out;
  }

.menu {
    background-color: rgba(0, 0, 0, 0.75);
    border: 1px solid rgba(58, 58, 58, 0.75);
    height: 100vh;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: -310px;
    /* Initial position off-screen */
    transition: right 0.3s ease-in-out;
    width: 300px;
    /* Adjust width as needed */
    z-index: 20;
    /* Ensure the menu is below the icon but above the overlay */
}

.menu.open {
    right: 0;
    transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
    /* Slide in from the right */
}

.menu ul {
    margin-top: 50px;
    list-style: none;
    padding: 20px;
}

.menu li {
    border-bottom: 1px solid #eee;
}

.menu li a {
    color: #ffffff;
    display: block;
    padding: 10px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.menu li a:hover {
    background-color: #8012ff;
    transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
}